

<button type="button" class="btn btn-primary btn-lg">Add client</button>
<div class="card">

  <table class="table">
    <thead>


      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">CIN</th>
      <th scope="col">Budget</th>
      <th scope="col">Email</th>


    </thead>
    <tbody>
    <tr>

      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>


    </tr>
    <tr>

      <td>Jacob</td>
      <td>Thornton</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>


    </tr>
    <tr>

      <td>Jacob</td>
      <td>Thornton</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>

    </tr>
    </tbody>
  </table>
</div>

