.card{
  margin-top: 155px;
  background-color: #8B5DFF;
  color: #563A9C;
  height: fit-content;
}

h1{
  text-align: center;
  color: #FFF7D1;
}

.row{
  margin: 25px;
  transition: background-color 0.55s ease, transform 0.55s ease;
  color:#FFF7D1;
}

.row:hover{
  background-color: #563A9C;
  transform: scale(1.01);
  color:#FFF7D1;
}
.btn-primary{
  margin-left: 220px;
  width: 1500px;
  transition: background-color 0.55s ease, transform 0.55s ease;
}

#cancel-button{
  background-color: #563A9C;
  color: #FFF7D1;
}

button{
  display: inline;
  background-color: #FFF7D1;
  color: #1421b2;
}

.btn-primary:hover{
  transform: scale(1.01);
  background-color: #5ad20b;
  color: #FFF7D1;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
