.card{
  margin-top: 155px;
  background-color: #387478;
  color: #E2F1E7;
  height: fit-content;
}

h1{
  text-align: center;
  color: #E2F1E7;
}

.row{
  margin: 25px;
  transition: background-color 0.55s ease, transform 0.55s ease;

}

.row:hover{
  background-color: #E2F1E7;
  transform: scale(1.01);
  color:#243642;
}
.btn-primary{
  margin-left: 220px;
  width: 1500px;
}

#cancel-button{
  background-color: #E2F1E7;
  color: #243642;
}

button{
  display: inline;
}

