nav{
  padding: 10px 30px;
  border-style: groove;
  border-radius: 18px;
  border-color: #FFF7D1;
  background-color: #8B5DFF;
  margin: 15px 15px;
  display: flex;

}

a{
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: #6A42C2;
  transition: all 0.6s ease;
  font-weight: bold;


}

a:hover{
  background-color: #5caeed;
  transform: scale(1.05);
  color: white;
}

a:active{
  transform: scale(0.95);
}

.navbar-brand{
  color: #563A9C;
  background-color: #FFF7D1;
}

.navbar-brand:hover{
  background-color: #FFF7D1;
}

.active{
  transition: all 0.6s ease;
}

.active:hover{
  color: white;
}
