

.info{
  transition: all 0.6s ease;
  border-radius: 15px;
}


.info:hover{
  background-color: #0f2f40;
  color: white;
}

.role{
  color: #0f2f40;
}


.main-container{
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
}
