table {
  width: 100%;

}

section{overflow: auto;}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}



tr.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}
