.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(135deg, #f9fafb, #ffffff);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.custom-tab-group {
  width: 100%;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-mdc-tab-labels {
  justify-content: center !important;
  animation-name: fadeIn;
  animation-duration: 0.9s;
}

::ng-deep .mat-mdc-tab-label {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color: #333 !important;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

::ng-deep .mat-mdc-tab-label.mat-mdc-tab-label-active {
  color: #00796b !important;
  font-size: 1.3rem !important;
}

.tab-content {
  padding: 70px;
  font-size: 1.1rem;
  color: #444;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}


@keyframes fadeIn {
  from { opacity: 0;
    transform: translateY(10px); }
  to { opacity: 1;
    transform: translateY(0); }
}



