#client-info{
  background: linear-gradient(#2fbdff, #0f2f40);
  border-radius: 30px;
  margin: 25px;
  transform: translateX(-100%);
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card{
  margin-top: 75px;
  background-color: #8B5DFF;
  color: #FFF7D1;
  height: fit-content;
  border-style: dot-dash;
}





p{
  text-align: right;
  color: #8B5DFF;
  padding: 1%;
  border-radius: 7px;
}




button{
  display: inline;
}

.btn-primary, .btn-danger, .btn-secondary{
  width: 100%;
}

#cancel-button{
  background-color: #563A9C;
  color: #FFF7D1;
}
